<div style="text-align: center;">
    <button mat-raised-button color="primary" (click)="randomize()">Randomize Data</button>
    <button mat-raised-button color="primary" (click)="selectionSort()">Selection Sort!</button>
    <button mat-raised-button color="primary" (click)="bubbleSort()">Bubble Sort!</button>
    
  </div>
  <div style="margin-left: 20px;">
      <form [formGroup]="additionalDataForm">
          <!--<mat-form-field>
            <input matInput placeholder="Number of elements" value="100">
          </mat-form-field>-->
        
          <mat-form-field>
              <input matInput placeholder="Delay per iteration(mili-second)"  formControlName="delay"  type="number" value="5" required>
          </mat-form-field>
      </form>
  </div>
  


<div fxLayout="row wrap" fxLayoutAlign="center end" style="height: 50%;">
    <span *ngFor="let data of datas; index as i" [style.background]=" i==isImportant|| i==is2Important?  'blue':'rgba(245,0,90,.5)'" [ngStyle]="{'height.%': data}" style="border:1px solid; width: calc(.95% - 2px);"></span>
</div>
  
