<div>
    <button mat-raised-button color="primary" (click)="sort()">Sort!</button>
</div>
<!--<div>
    <span *ngFor="let data of tempArray">
    <span>{{data}} </span>
</span>
</div>-->

<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize Data</button>
    </div>
  </div>
  